################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Atividade/Cinesimbiose/Cinesimbiose.API/Models/Theater.cs
