@using Microsoft.AspNetCore.Identity
@using CinemaManager.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center align-items-center">
   
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var displayName = user?.FullName ?? User.Identity?.Name;

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person-circle"></i> Olá, @displayName!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light"><i class="bi bi-box-arrow-right"></i> Sair</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-plus"></i> Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-warning text-dark px-3 ms-2 rounded-pill" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Login</a> @* Botão de Login mais chamativo *@
        </li>
    }
</ul>